*{
  margin: 0px; 
}
body{
  background-color:#eee ;
}

.header nav {
  display: flex;
  height: 80px;
  background-color: black;
  color: white;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}
.header ul{
  flex-basis: 80% ;
  display: flex;
  justify-content: flex-end;  
  list-style: none;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.header nav a:hover{
  color: lightblue;
}

.content{
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid gray;
  margin: 25px auto;
  padding: 20px;
}

.login input{
  display: block;
  margin: 15px;
  padding: 15px;
}